
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: pink;
    color: #333;
    padding: 20px;
  }
  
  header {
    background-color: skyblue;
    width: auto;
    padding: 10px;  
    border-radius: 8px;

  }
  
  header nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    text-align: center;
  }
  
  header nav ul li {
    width: 100%;
    margin: 0;
    padding: 10px;
    border-radius: 5px;
  }
  
  header nav ul li a {
    color: navy;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
  }
  
  header nav ul li:hover {
    background-color: rgb(255, 61, 93);
    border-radius: 8px;

  }
  
 
  main {
    margin-top: 20px;
    max-height: 100%;
    background: #2be9b9;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .question {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  label {
    font-size: 16px;
    margin-right: 10px;
  }
  

  input[type="numbers"] {
    padding: 8px;
    font-size: 16px;
    border: 5px;
    border: 1px solid #2be9b9;;
    border-radius: 8px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    max-width: 100%;
    text-decoration: none;
}
  
  button {
    background-color: #a7288c;
    color: white;
    border: 2px solid #a7288c;     
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  button:hover {
    background-color: #a83e91;
  }
  
  .output {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #2028a1;
  }
  
  @media screen and (max-width: 768px) {
    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        margin: 5px;
    }
    header nav ul li a {
        padding: 8p;
    }

    header {
        padding: 15px;
    }
  }
  @media screen and (max-width: 480px) {
    header nav ul li a {
        padding: 6px;
    }
}